.new-games {
    
    background: linear-gradient(270deg, #4E3A7A 1.78%, #301865 90.85%);
    padding-bottom: 20px; 
}

.backgroung {
    margin-bottom: -5px;
    width: 100%;
}

.gold-bottom {
    margin-top: -20vw;
    width: 100%;
}